DOMAIN_NAME=

############MARIADB################
SQL_DATABASE=
SQL_USER=
SQL_PASSWORD=
SQL_ROOT_PASSWORD=

############WORDPRESS###############
WP_ADMIN_USER=
WP_ADMIN_EMAIL=
WP_ADMIN_PASSWORD=
WP_USER=
WP_USER_EMAIL=
WP_USER_PASSWORD=
DB_HOST=
