# Terraform working directory
.terraform/
.terraform.tfstate.lock.info
.terraform.lock.hcl

# Local state
*.tfstate
*.tfstate.*

# Crash logs
crash.log
crash.*.log

# Variable files
*.tfvars
*.tfvars.json

# keys
*/*.pem

# variables
*/.env
