[defaults]
inventory = inventory.ini
remote_user = ubuntu
private_key_file = ../terraform/cloud-key.pem
host_key_checking = false
roles_path = ./roles

[privilege_escalation]
become = true
become_method = sudo
become_user = root
